#chart-area svg, #chart-area2 svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

#reset-button, #play-button, #reset-button2, #play-button2, #slider-div, #slider-div2 {
	float: left;
	margin-right:10px;
}

#slider-div, #slider-div2 {
	width:300px;
	margin-left:10px;
}

#reset-button, #play-button, #reset-button2, #play-button2 {
	margin-top: 5px;
	margin-bottom:10px;
}

#continent-select, #continent-select2 {
	width: 150px;
	float:right;
	margin-top:5px;
}

